html {
    height: 100%;
}

body {
    width: 100%;
    height: 100vh;
}

#sidebar {
    position: fixed;

    width: 200px;
    height: 100%;

    background: var(--primary-color);

    top: 0;
    left: -200px;

    transition: left 400ms ease-in;

    z-index: 1;
}

#sidebar.active {
    left: 0px;
}

#sidebar ul li{
    color: white;
    
    padding: 12px 10px;

    border-bottom: 1px solid var(--second-color);

}

#sidebar .toggle-btn {
    position: absolute;
    left: 210px;
    top: 4px;

    padding: 10px;
}

#content {
    position: relative;
    
    width: 50%;
    height: 100%;

    margin: 40px auto;
}



